*{
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*remove input's spin arrow*/


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*code begins here */

html, body{
    height: 100%;
    width: 100%;
}

body{
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#navbar{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #0e0e0e;
    height: 50px;
    width: 100%;
}

.titleEtc{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: default;
    color: #ececec;
}

.btns{
    width: 260px;
    height: 35px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-right: 40px;
    color: #ececec;
}

.btn{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    font-size: 18px;
    font-variant-caps: all-small-caps;
}

.btn:hover{
    cursor: pointer;
}

.btn:hover{
    font-weight: 600;
    transition: 0.15s ease-in;
}


#title{
    margin-left: 20px;
    font-size: 28px;
    font-weight: bolder;
}

#line{
    height: 35px;
    width: 1px;
    margin-left: 15px;
    box-sizing: border-box;
    background-color: #ececec;
}

#subtitle{
    font-size: 18px;
    margin-left: 20px;
    font-variant-caps: all-small-caps;
}

/*sign up box*/

#SignBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 450px;
    width: 700px;
    background-color:#ececec;
}

#clientPic{
    height: 170px;
    width: 170px;
    border-radius: 50%;
}

.formBox{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 430px;
    width: auto;
}

/*device in*/

#inputsDevice{
    display: none;
}

.inputClass{
    height: 40px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid rgb(117, 117, 117);
    text-align: center;
    outline: none;
}

#description{
    height: 40px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid rgb(117, 117, 117);
    text-align: center;
    outline: none;
}

/*submit btn*/

#submitBtn{
    height: 40px;
    width: 145px;
    margin-top: 5px;
    background: rgb(14,14,14);
    background: linear-gradient(180deg, rgba(14,14,14,1) 0%, rgba(50,57,59,1) 100%);
    color: #ececec;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}